h1{color:black;background-color:beige;}
h2{color:white;background-color:black;}
#f1{background-color:black;}
#f2{background-color:black;}
img{margin: 0;border-radius: 120px;}
#b{color:white;background-color:black;font-style:oblique;}
a{text-decoration:none;}